[submodule "core/deps/SDL"]
	path = core/deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "core/deps/libchdr"]
	path = core/deps/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "external/dirent"]
	path = external/dirent
	url = https://github.com/tronkko/dirent.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
